:root {
  --gray-light: #d8dff0;
  --bg-gray: #cad3ea;
  --black-blue-alt: #060c2b;
  --gray-mid: #3a3a3e;
  --gray-dark-alt: #191d2f;

  --teal: #03ffd2;
  --teal-50: #03ffd280;

  --blue: #03b3ff;
  --blue-50: #03b3ff80;

  --green: #72ff03;
  --green-43: #72ff036e;

  --orange: #ff8a00;
  --orange-50: #ff8a0080;

  --yellow: #ffd500;
  --yellow-50: #ffd50080;
}

body {
  background: var(--gray-light);
  overflow-x: hidden;
}
