.calculator {
  width: 100%;

  box-sizing: border-box;
  overflow: hidden;

  position: relative;
  top: 0;
  left: 0;
  border: 1px solid var(--gray-mid);
}

.itemTitle {
  position: relative;
  left: 0;
}

.itemTitleWrap {
  position: relative;
  display: flex;
  align-items: center;
}

.itemsWrap {
  min-width: 100%;
  min-height: 100%;
}

.itemWrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  border: 1px solid var(--gray-mid);
  padding: 2rem;
}

@media screen and (max-width: 62em) {
  .calculator {
    max-width: 100vw;
  }
  .itemsWrap {
    max-width: 100vw;
  }
  .itemWrap {
    padding: 1rem;
    max-width: 100vw;
    font-size: 1rem;
  }
}

@media screen and (max-width: 48em) {
  .itemTitle {
    font-size: 0.8rem;
  }

  .itemLabel {
    font-size: 0.9rem !important;
  }
  .itemWrap {
    padding: 0.5rem;
  }
}
