.calculator {
  width: 100%;

  box-sizing: border-box;
  overflow: hidden;

  position: absolute;
  bottom: 0;
  left: 0;
  border-top: 1px solid var(--gray-mid);
}

.itemTitle {
  position: relative;
  left: 0;
}

.itemTitleWrap {
  position: relative;
  display: flex;
  align-items: center;
}

.itemsWrap {
  min-width: 100%;
  min-height: 100%;
}

.itemWrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  border-right: 1px solid var(--gray-mid);
  border-bottom: 1px solid var(--gray-mid);
  padding: 2rem;
}
